/* set body stle */

   /* body 
    {
      background-color: rgb(230, 184, 173);
    } */
    /* pizza background image*/

   /* {
       background-image: url("/e/innotech/projects/okotokspizza/images/pizza.jpg");
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
    }
*/



/* set heading style */

    h1 {
     color: rgb(0,0,0);
    }

    h2 {
        color: rgb(0,0,0);

        }

    h3 {
        color: rgb(0,0,0);
    }
/* set the background image */

.img2 {
    width: 500px;
    height: 550px;
    float:right;
}

.img3 {
    width: 500px;
    height: 500px;
}

.map {
    width: 300px:
}
section {

    padding: 1rem;
    background-color: white;

}


div.descendent div{

    color: red;
}
 
 
div.child > div {

    background-color: red;
}
    

div.adjacent + div {

    color: white;
    background-color: darkblue;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */

a:visted {

    color: purple;
}

/* hover */

a:hover {

    background-color: pink;
    ;
}


/* active */
a:active {

    background-color: orange;
}

div.firstchild :first-child {

    color: white;
    background-color: green;
}
