@keyframes colorshift {
    33% {
        background-color: white;
        color: black;
    }

    67% {
        background-color: grey;
        color: black;
    }

    100% {
        background-color: black;
        color: white;
    }
}

h3.blink:hover {
    animation: blinkingText 0.5s infinite;
}
@keyframes blinkingText {

    0% {
        color: #000;
    }
    49% {
        color: #000;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #000;
    }
  
}


.okotoks {

    font-size: 3rem;
    text-align: center;
    background: black;
    color: white;   
}

.okotoks:hover {
    animation-name: colorshift;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-delay: .1s;
    animation-iteration-count: 5;
}


/* set body stle */

   /* body 
   
   

   
   
   
   
   {
      background-color: rgb(230, 184, 173);
    } */
    /* pizza background image*/

   /* {
       background-image: url("/e/innotech/projects/okotokspizza/images/pizza.jpg");
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
    }
*/



/* set heading style */

    h1 {
     color: white);
    }

    h2 {
        color: rgb(0,0,0);

        }

    h3 {
        color: rgb(0,0,0);
    }
/* set the background image */

.images {
    width: 100px;
    float: right;
}

.map {
    width: 300px:
}
section {

    padding: 1rem;
    background-color: white;

}


div.descendent div{

    color: red;
}
 
 
div.child > div {

    background-color: red;
}
    

div.adjacent + div {

    color: white;
    background-color: darkblue;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */

a:visted {

    color: purple;
}

/* hover */

a:hover {

    background-color: pink;
    ;
}


/* active */
a:active {

    background-color: orange;
}

div.firstchild :first-child {

    color: white;
    background-color: green;
}

.transition1:active {
    font-size: 2em;
}
