* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: lightgrey;
  background-image: url("../images/pizza.jpg");
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 1fr 1fr 200px 50px;
  grid-gap: 50px;
  padding: 10px;
  min-height: 100vh;
  width: 100%;
 
 
 

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 2px solid black; */
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
}


.header {

  display: grid;
  grid-template-columns: 35% 30% 35%;
  border: 10px solid black;
  padding-bottom: 0;

}
.logo {
  
  height: 175px;
  padding-top: 5px;
  
}

.green {
  background-color: green;
  height: auto;
}
.white {
  background-color: white;
  height: autox;
} 



.red {

  background-color: red;
  height: auto;
}

.mission >p {

  font-weight: bolder;
}

span {
  font-style: italic;
  font-size: 2rem;
}