* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 100px 70px 1fr 60px;
      grid-template-rows: 100px 70px 1fr 60px;
  grid-gap: 10px;
  padding: 10px;
  min-height: 100vh;
  width: 100%;
}

.grid-container > div {
  text-align: center;
  font-family: sans-serif;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  border: 3px solid black;
  padding-bottom: 0;
  background-color: white;
}

.header .green {
  background-color: green;
  max-height: auto;
  min-width: 60px;
}

.header .green .logo-green {
  max-height: 70px;
  padding-top: 15px;
}

.header .white {
  background-color: white;
  max-height: auto;
  min-width: 100px;
  text-align: center;
  position: relative;
  width: 100%;
  height: 60px;
}

.header .white h1 {
  margin-top: 10px;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header .white p {
  font-size: 0.95rem;
  font-family: "Pacifico";
}

.header .red {
  background-color: #cd0101;
  max-height: auto;
  min-width: 60px;
  font-size: 0.75rem;
}

.header .red #underlines {
  color: white;
  font-weight: bold;
}

.header .red i {
  padding-top: 30px;
  color: white;
}

@media only screen and (max-width: 991px) {
  .header .red .menu-bar {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header .red > div .reg-phone {
    display: none;
  }
}

.delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  border: 3px solid black;
  -webkit-box-shadow: 3px 5px black;
          box-shadow: 3px 5px black;
  margin-top: 7px;
  background-color: white;
}

.delivery .icons {
  width: 40px;
  padding-top: 13px;
}

.delivery .center {
  background-color: #cd0101;
  max-height: 57px;
  color: white;
}

.delivery .center .blink {
  font-size: 1.75rem;
}

.delivery .center pre {
  font-size: 0.75rem;
  font-weight: bolder;
}

.delivery .center .blink {
  -webkit-animation: blinker 2s linear infinite;
          animation: blinker 2s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.promotions {
  border: 7px solid black;
  -webkit-box-shadow: 3px 5px black;
          box-shadow: 3px 5px black;
  background-color: green;
}

.promotions .daily-special {
  display: inline;
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  border: 3px solid pink;
}

.promotions .specials {
  background-color: green;
  margin-top: 3px;
}

.promotions .specials img {
  display: inline;
  width: 50%;
  height: auto;
  margin-bottom: 3px;
  border: 3px solid #cd0101;
  margin-top: 5px;
}

.promotions .specials p, .promotions .specials pre {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.promotions .specials .day {
  font-size: 1.5rem;
  text-decoration: underline;
}

.promotions .specials hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background-color: lightgrey;
  border: 0;
}

footer {
  border: 3px solid black;
  background-color: #cd0101;
  color: white;
  text-align: center;
}

footer pre {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

footer #underlines {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 321px) {
  body {
    background-color: lightgrey;
    background-image: url("../images/pepperonipizza.jpg");
    background-size: cover;
  }
  .grid-container {
    grid-gap: 50px;
    -ms-grid-rows: 120px 80px 1fr 60px;
        grid-template-rows: 120px 80px 1fr 60px;
  }
  .header {
    border: 5px solid black;
  }
  .header .green {
    max-height: 109.5px;
  }
  .header .green .logo-green {
    max-height: 135px;
    padding-top: 0px;
  }
  .header .white h1 {
    font-size: 1.75rem;
    margin-top: 2px;
    padding-bottom: 0px;
  }
  .header .white p {
    font-size: 2rem;
    font-family: "Pacifico";
    padding-top: 5px;
  }
  .header .red {
    max-height: 109.5px;
    font-size: 1.25rem;
  }
  .header .red #underlines {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .header .red > div .mobile-phone {
    display: none;
  }
  .header .red > div .reg-phone {
    color: white;
    font-weight: bold;
  }
  .delivery .icons {
    width: 60px;
    padding-top: 13px;
  }
  .delivery .center {
    max-height: 67px;
  }
  .delivery .center pre {
    font-size: 2rem;
  }
  .promotions {
    margin-left: 200px;
    margin-right: 200px;
  }
  .promotions h3 {
    font-size: 1.25rem;
    background-color: darkgreen;
    text-align: center;
    color: white;
  }
  .promotions p {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  .promotions img {
    width: 70px;
    height: auto;
  }
  footer {
    border: 5px solid black;
  }
  footer pre {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 992px) {
  .header .green .logo-green {
    max-height: 135px;
  }
  .header .white h1 {
    font-size: 2.5rem;
    margin-top: 2px;
  }
  .header .red {
    font-size: 2.5rem;
  }
  .header .red i {
    display: none;
  }
  .header .red li {
    display: inline;
    font-size: 1.5rem;
    color: white;
  }
  .header .red li:hover {
    background-color: white;
    color: red;
  }
  .delivery .icons {
    width: 70px;
    padding-top: 7px;
  }
  .promotions {
    margin-left: 600px;
    margin-right: 600px;
  }
  .promotions h3 {
    font-size: 2.5rem;
    background-color: darkgreen;
    text-align: center;
    color: white;
  }
  .promotions p {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
  }
  .promotions img {
    width: 100px;
    height: auto;
  }
  footer {
    border: 5px solid black;
  }
  footer pre {
    font-size: 1.35rem;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */